* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* centralizando div :((!! */
body {
  background-color: #1f1f28;

  height: 100vh;
}

#asciiDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -2em;
}

#asciiArt {
  font-size: 1em;
  margin: 2em;
  cursor: default;
}

#mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#albumImage {
  border-radius: 19px;
  max-width: 16em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card {
  background-color: #938aa9;
  height: 25em;
  width: 16em;
  border-radius: 0.5em;
}

#buttonsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

#username {
  margin-top: 1em;
  width: 19em;
  border-radius: 3px;
  border: none;
  padding: 0.5em;
  text-align: center;
}

input:focus {
  outline: none;
  border: none;
}

#buttonSendDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

button {
  width: 5em;
  height: 2em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
